a:hover{
    color:rgb(181, 16, 16);
  background-color: transparent;
  text-decoration: underline;
}
a:active {
    color: rgba(255, 0, 119, 0.793);
    background-color: transparent;
    text-decoration: underline;
  }
  .button {
    transition-duration: 0.4s;
  }
  
  .button:hover {
    background-color: #583766; /* Green */
    color: rgb(255, 255, 255);
  }
  /* original a partir daqui */
.rain{
    background-color:#47558f;
    text-align:start;
    font-size: medium;
    font-family:initial;
}
.purple{
    background-color:#abb4db;
    text-align:center;
    font-size:50px;
    font-family:serif;
}
.fue{
    position:static;
    background-color:#abb4db;
    text-align:center;
    font-size:larger;
    font-family:serif;
    border: 2px;
    padding:25px;
    width: 50%;
    
}
.imgm{
    border-radius: 10%;
}

footer{
    position:fixed;
    right: 0px;
    bottom: 0;
    width: 100%;
    background-color:azure;
    color: white;
    text-align: right;
}
.fundo{
    background-color: lightsteelblue;
   
}
.fun{
    position:static;
    background-color:#abb4db;
    text-align:center;
    font-size:larger;
    font-family:serif;
    border: 2px;
    padding:25px;
    width: 50%;
}
.link-telefone_email {
    color:indigo;
    text-decoration: underline;
    text-align: justify;
  }

